@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #3C96EF;
    --black: #242426;
    --lightblue: #E2E8EE;
    --whitegrey: #F5F5F5;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

.main-section {
    margin-top: 80px;
    margin-left: 280px;
    width: auto;
    height: 100vh;
}

body {
    background-color: var(--whitegrey);
}